body {
    margin:0 auto;
    justify-content:end;
    background-color:#fefefe;
    overflow-x: hidden;
}

/* Styling the unordered list in the fifth article of the section of the body. */
body>section>article:nth-child(5)>ul>li:nth-child(n) {
    border-top: solid thick #496a81ff;
    box-shadow: 0 3px 11px 0 #505050;
    border-bottom: solid thick #ffc482ff;
    border-radius: .3em;
    color: #2196f3;
    list-style: none;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 1em 1.5em;
    margin: 0 auto
}

table {
    margin: 0 auto;
    text-align: justify
}

h2 {
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
    color: #496a81ff;
}

header {
    background: #496a81ff;
    display: grid;
    padding-bottom: 1em
}

footer>p {
    padding: 5%;
    text-align: right;
    color: #aaa;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #333;
    /* margin: 0 auto; */
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #66999bff;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

td {
    border-top: solid thin;
    border-left-style: solid;
    color: #496a81ff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%
}

ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    max-width: inherit
}

a {
    text-decoration: underline;
    color: #fafafa;
    margin: auto
}

h4 {
    color: #66999bff;
    flex: auto;
    text-align-last: auto;
    min-width: 10em;
    margin: auto;
    /* A CSS animation. It is fading in the element. */
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s
}

.logo {
    width: 100vw;
    padding-bottom: 2em;
    background-color: #2b3a67ff
}

hr {
	max-width: 70vw;
	border: solid thin #ccc;
    box-shadow: 0 3px 20px 0px rgb(124, 124, 124);
}

p>a {
    color: #496a81ff;
}

/* Styling the unordered list in the fifth article of the section of the body. */
body>section>article:nth-child(5)>ul {
    max-width: 60%;
    margin: auto;
    padding-top: 1em
}

.photo-grid-item {
    display: contents;
    max-width: 100%
}

/* Styling the images in the photo grid. */
html body div.photo-grid div.photo-grid-item img {
    box-shadow: -9px 7px 20px 0 #aaa;
    margin: 0 auto;
    max-width: 30%;
    min-height: min-content;
    margin-block: auto;
    padding: 1%
}

/* Styling the marker of the list item. (the bullet point) */
::marker {
    color: transparent
}

.contact-content {
    border-radius: 1.4em;
    margin: 0 auto;
    display: grid
}

nav {
    display: contents;
    font-size: larger;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.contact-grid {
    background-color: #e3e3e3;
    margin: auto;
    padding: 2em;
    border-radius: 1.4em;
    box-shadow: 0 1px 15px 0
}

.contact-item {
    margin: 0;
    padding: 1em;
    border-bottom: solid thin #ccc;
    display: flex;
    flex-direction: row
}

h6 {
    padding: 1.4em;
    margin: 0 auto;
    color: #505050;
    max-width: max-content;
    font-size: large;
    font-family: 'Inter', sans-serif;
}

.home-img>img {
    box-shadow: -9px 7px 20px 0 #aaa;
    max-width: 35em;
    max-height: fit-content;
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
    display: flex;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s
}

.contact-item>h4 {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.contact-item>h6 {
    opacity: 0;
    animation: fadeIn 3s 1.2s forwards;
    -webkit-animation: fadeIn 3s 1.2s forwards;
    -moz-animation: fadeIn 3s 1.2s forwards;
    -o-animation: fadeIn 3s 1.2s forwards;
    -ms-animation: fadeIn 3s 1.2s forwards;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

article>p {
	margin: 0 auto;
	padding: 1em;
	text-align: justify;
	color: #3a3a3a;
	max-width: 70%;
	box-shadow: 0px 0px 0px 4px #eee;
}

/* Styling the h6 element in the contact section. */
a.\>.a.h6 {
    color: #3f32f8
}

/* Styling the h1 element in the about section. */
.about>h1 {
    padding-bottom: 1em
}

/* Styling the fourth h1 element in the body. */
.body.\>.h1\:nth-child\(4\) {
    padding-bottom: 1.5em
}

/* Styling the second p tag in the footer (the view counter) */
footer > p:nth-child(2) {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-decoration: underline;
	margin-top: -10%;
}


/* -----------------------------CSS animation-------------------------------- */
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


/* -------------CSS pallete---------------- */
/* CSS HEX 
    --space-cadet: #2b3a67ff;
    --dark-electric-blue: #496a81ff;
    --cadet-blue: #66999bff;
    --sage: #b3af8fff;
    --mellow-apricot: #ffc482ff; 
*/