body {
    margin: 0 auto;
    display: grid;
    justify-content: end;
}

/* Making the list items in the about page have a border, a shadow, and a border radius. */
body > section > article:nth-child(5) > ul > li:nth-child(n) {
    border-top: solid thick #ba68c8;
    box-shadow: 0 3px 11px 0px #aaaddd;
    border-bottom: solid thick #ce93d8;
    border-radius: 0.3em;
    color: #2196f3;
    list-style: none;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    padding: 1em 1.5em;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    text-align: justify;
}

h2 {
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
}

header {
    background: #6a1b9a;
    display: grid;
    padding-bottom: 1.6em;
}

footer > p {
    padding: 5%;
    text-align: right;
    color: #aaa;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: purple;
    margin: auto;
}

td {
    /* Making the table have a border. */
    border-top: solid thin;
    border-left-style: solid;
    color: #9c27b0;
}

.photo-grid {
    /* Making the images wrap around the page. */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
    max-height: 100%;
}

ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    max-width: inherit;
}

a {
    text-decoration: underline;
    color: #fafafa;
    margin: auto;
}

h4 {
    color: purple;
    flex: auto;
    text-align-last: auto;
    min-width: 10em;
    margin: auto;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.logo {
    /* Making the top portion of the page */
    width: 100vw;
    padding-bottom: 2em;
    background-color: #4a148c;
}

p > a {
    color: blueviolet;
}

body > section > article:nth-child(5) > ul {
    max-width: 60%;
    margin: auto;
    padding-top: 1em;
}

.photo-grid-item {
    /* Making the images fit the page. */
    display: contents;
    max-width: 100%;
    /* margin: 0 auto; */
}

img {
    /* Making the images have a shadow, and making the images fit the page. */
    box-shadow: -9px 7px 20px 0px #aaa;
    max-width: 20em;
    max-height: 13em;
    min-width: fit-content;
    min-height: 20em;
    margin: auto;
}

form {
    background-color: #48105b;
    color: #fff4d9;
    margin: 0 auto;
    padding: 2em;
    border-radius: 1.4em;
    box-shadow: 0 0 20px 0px #000;
    display: grid;
    justify-items: start;
}

/* Making the list markers transparent. */
::marker {
    color: transparent;
}

.contact-content {
    border-radius: 1.4em;
    margin: 0 auto;
    display: grid;
}

nav {
    display: contents;
    font-size: larger;
}

.contact-grid {
    background-color: #e3e3e3;
    margin: auto;
    padding: 2em;
    border-radius: 1.4em;
    box-shadow: 0 1px 15px 0px;
}

.contact-item {
    margin: 0;
    padding: 1em;
    border-bottom: solid thin #ccc;
    display: flex;
    flex-direction: row;
}

h6 {
    padding: 1.4em;
    margin: 0 auto;
    color: #505050;
    max-width: max-content;
    font-size: large;
}

.home-img {
    margin: 0 auto;
    animation: fadeIn 2.2s;
    box-shadow: 0 3px 21px 0px #aaaddd;
    -webkit-animation: fadeIn 2.2s;
    -moz-animation: fadeIn 2.2s;
    -o-animation: fadeIn 2.2s;
    -ms-animation: fadeIn 2.2s;
}

.contact-item > h4 {
    animation: fadeIn 5s;
}

.contact-item > h6 {
    opacity: 0;
    animation: fadeIn 3s 1.2s forwards;
    /* Forwards is important to make sure the animation does not revert back to 0% opacity. */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

article > p {
    margin: 0 auto;
    padding: 1em;
    text-align: justify;
    color: #5c009e;
    max-width: 70%;
    box-shadow: 0 3px 21px 0px #aaaddd;
}


a.\>.a.h6 {
    color: rgb(63, 50, 248);
}

.about > h1 {
    padding-bottom: 1em;
}