body {
    /*! margin:0 auto; */
    /*! display:grid; */
    /*! justify-content:end; */
}

body>section>article:nth-child(5)>ul>li:nth-child(n) {
    border-top: solid thick #ba68c8;
    box-shadow: 0 3px 11px 0 #aaaddd;
    border-bottom: solid thick #ce93d8;
    border-radius: .3em;
    color: #2196f3;
    list-style: none;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 1em 1.5em;
    margin: 0 auto
}

table {
    margin: 0 auto;
    text-align: justify
}

h2 {
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto
}

header {
    background: #6a1b9a;
    display: grid;
    padding-bottom: 1.6em
}

footer>p {
    padding: 5%;
    text-align: right;
    color: #aaa
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: purple;
    margin: auto
}

td {
    border-top: solid thin;
    border-left-style: solid;
    color: #9c27b0
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
}

ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    max-width: inherit
}

a {
    text-decoration: underline;
    color: #fafafa;
    margin: auto
}

h4 {
    color: purple;
    flex: auto;
    text-align-last: auto;
    min-width: 10em;
    margin: auto;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s
}

.logo {
    width: 100vw;
    padding-bottom: 2em;
    background-color: #4a148c
}

p>a {
    color: #8a2be2
}

body>section>article:nth-child(5)>ul {
    max-width: 60%;
    margin: auto;
    padding-top: 1em
}

.photo-grid-item {
    display: contents;
    max-width: 100%
}

/* A selector that selects all the images inside the divs with the class photo-grid-item inside the
divs with the class photo-grid inside the body inside the html. */
html body div.photo-grid div.photo-grid-item img {
	box-shadow: -9px 7px 20px 0 #aaa;
	margin: 0 auto;
	max-width: 30%;
	min-height: min-content;
	margin-block: auto;
	padding: 1%;
}

::marker {
    color: transparent
}

.contact-content {
    border-radius: 1.4em;
    margin: 0 auto;
    display: grid
}

nav {
    display: contents;
    font-size: larger
}

.contact-grid {
    background-color: #e3e3e3;
    margin: auto;
    padding: 2em;
    border-radius: 1.4em;
    box-shadow: 0 1px 15px 0
}

.contact-item {
    margin: 0;
    padding: 1em;
    border-bottom: solid thin #ccc;
    display: flex;
    flex-direction: row
}

h6 {
    padding: 1.4em;
    margin: 0 auto;
    color: #505050;
    max-width: max-content;
    font-size: large
}

.home-img>img {
    box-shadow: -9px 7px 20px 0 #aaa;
    max-width: 35em;
    max-height: fit-content;
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
    display: flex;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s
}

.contact-item>h4 {
    animation: fadeIn 5s
}

.contact-item>h6 {
    opacity: 0;
    animation: fadeIn 3s 1.2s forwards
}

article>p {
    margin: 0 auto;
    padding: 1em;
    text-align: justify;
    color: #1a1a1a;
    max-width: 70%;
    box-shadow: -1px 1px 20px 13px #eee
}

a.\>.a.h6 {
    color: #3f32f8
}

.about>h1 {
    padding-bottom: 1em
}

.body.\>.h1\:nth-child\(4\) {
    padding-bottom: 1.5em
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}